<!DOCTYPE html>
{% load static %}
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
        <meta name="description" content="Community connects you with the essential services in your area to build better communites.">
        <script src="{% static 'js/htmx.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Orelega+One&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">
        <title>Community</title>
    </head>
    <div id="full_site">
        <div id="header">
            <div id="logo"></div>
            <a href="{% url 'home' %}" id="header_title" title=" Community">Community</a>
            <p id='main-blurb'>Community connects you with the essential services in your area to build better communites.</br>Enter your zipcode to begin exploring.</p>
            <p id="supported-regions">Supported Regions: {{ supported_regions }}</p>
            <div id="search_area">{% include 'partials/searchbar.html' %}</div>
        </div>
        <body>
            <main>
                {% block content %}
                replace me
                {% endblock %}
            </main>
            <script>
                document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
                })
            </script>
        </body>
    </div>
</html>